@mixin palette($key, $color, $intensity, $darken: true) {
  @for $i from 0 through 9 {
    --#{$key}-#{$i}: #{if(
        $darken,
        darken($color, $i * $intensity),
        lighten($color, $i * $intensity)
      )};
  }
}

:root {
  &[theme='dark'] {
    @include palette('basic', hsl(240, 9%, 98%), 9.5);
    @include palette('primary', hsl(232, 51%, 91%), 4);
    @include palette('secondary', hsl(255, 50%, 98%), 4);

    --overlay: hsla(236, 22%, 15%, 0.663);
  }

  &[theme='light'] {
    @include palette('basic', hsl(235, 15%, 15%), 9, false);
    @include palette('primary', hsl(235, 65%, 97%), 4);
    @include palette('secondary', hsl(260, 38%, 94%), 4);

    --overlay: hsl(236, 22%, 15%, 12%);
  }

  --success: hsl(143, 50%, 67%);
  --warning: hsl(59, 53%, 68%);
  --error: hsl(354, 49%, 81%);
}
