@import '@fontsource/poppins';
@import 'atropos/scss';

@import 'anchors';
@import 'breakpoint';
@import 'color';
@import 'misc';
@import 'scrollbar';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--background);
  color: var(--text);
}
