@import 'typography';
@import 'color';
@import 'breakpoint';
@import 'misc';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--basic-9);
  color: var(--basic-1);
}
