@import 'open-props/fonts';
@import 'open-props/sizes';
@import 'open-props/zindex';
@import 'open-props/borders';
@import 'open-props/shadows';
@import 'open-props/easings';
@import 'open-props/animations';

:root {
  --font-serif: 'Nunito', sans-serif;
  --font-fancy: 'Balsamiq Sans', cursive;

  --brand-1: hsl(229, 42%, 69%);
  --brand-2: hsl(230, 26%, 59%);
  --brand-3: hsl(230, 14%, 41%);
  --brand-4: hsl(233, 8%, 23%);

  --text-1: hsl(0, 0%, 95%);
  --text-2: hsl(0, 0%, 75%);

  --surface-1: rgb(59, 59, 59);
  --surface-2: hsl(0, 0%, 18%);
  --surface-3: hsl(0, 0%, 15%);

  --guava-1: hsl(265, 62%, 90%);
  --guava-2: hsl(266, 77%, 88%);

  --overlay: -webkit-linear-gradient(
    hsl(229deg 42% 69% / 20%),
    hsl(265deg 80% 77% / 40%)
  );

  --shadow-color: 0deg 0% 2%;
  --shadow-strength: 25%;

  --scroll-bar-size: 0.45rem;
}
